talipp
tradingview-ta
backtesting
pandas-datareader


# Normally ships with vectorbt deps
# tables 3.8.0 requires blosc2~=2.0.0, which is not installed.
# tables 3.8.0 requires cython>=0.29.21, which is not installed.
tables 

# Resolves issue between jupyter and python-telegram-bot
tornado>=6.2

TA-Lib

yfinance
python-binance
ccxt
alpaca-trade-api
ta
pandas_ta
# python-telegram-bot
quantstats

vectorbt

networkx[default]

xlrd

# THIS FAILED
ray
