talipp
tradingview-ta
backtesting
wbdata
# this one could be super old
# imfpy

xmltodict

# Normally ships with vectorbt deps
# tables 3.8.0 requires blosc2~=2.0.0, which is not installed.
# tables 3.8.0 requires cython>=0.29.21, which is not installed.
tables 

# Resolves issue between jupyter and python-telegram-bot
# tornado>=6.2

TA-Lib

yfinance
python-binance
ccxt
alpaca-trade-api

# This one is veeery old
# ta
# pandas_ta

# python-telegram-bot
quantstats

vectorbt

networkx[default]

xlrd

# THIS PACKAGE ISN'T READY FOR PY 3.13
# https://github.com/ray-project/ray/pull/47984
# ray
